<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>1DV610</title>
  
 <link rel="stylesheet" href="/css/style.css">
  <%- defineContent('style') %>
  <%- defineContent('script') %>
</head>

<body>
  <%- include('../partials/header') %>
    <% if (flash) { %>
    <div class="flash">
      <%= flash %>
    </div>
  <% } %>
  <main role="main" class="container">
    <%- body %>
  </main>

</body>

</html>